html {
  height: 100%;
}


body{
  color: aliceblue;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container{
  background:rgba(58,63,68,0.5);
  border-radius: 5px;
  box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
  padding: 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 60vw;
}

.jumbotron{
  background: rgba(58,63,68,0.5);
  height: 15vh;
  width: 80%;
  text-align: center;
}

.logo{
  color: #ffff;
  font-size:20px;
  text-align: center;
  padding: 20px 20px 0;
  margin:0;
}

.post{
  color: #ffff;
}

.readMoreSpan{
  text-decoration: none;
  color: #999;
  font-style: Verdana;
  font-size: 11px;
}

.postDescription{
  padding: 1rem;
  background: rgba(143, 152, 161, 0.5);
}

.content{
  margin-top: 15px;
  padding: 1rem;
  background: rgba(126, 147, 158, 0.5);
}

input,textarea {
  padding: 1rem;
  margin: 10px 0;
  border: 0;
  outline: 0;
  border-radius: 2px;
}

button{
  border: 0;
  border-radius: 5px;
  padding: .5em;
  background-color: rgb(20, 220, 37);
  color: white;
  width: 10%;
}

button:hover{
  background-color: rgb(34, 178, 70);
  color: White;
}

button a{
  float: right;
  text-decoration: none;
}

.a-button {
  text-align: center;
  width: 10%;
  float: right;
  background-color: rgb(20, 220, 37);
  border-radius: 5px;
  color: white;
  padding: .5em;
  text-decoration: none;
}

.a-button:focus,
.a-button:hover {
  background-color: rgb(34, 178, 70);
  color: White;
}

.info-bar{
  margin-top: 10px;
  background: rgba(58,63,68,0.5);
  padding: 10px;
  width: 80%;
  text-align: center;
}

#postButtonP{
  margin-top: 1rem;
  width: 60%;
}
